<app-barra-superior [imgUsuario]="usuarioActual?.urlImg" [nombreUsuario]="usuarioActual?.nombre"></app-barra-superior>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3 style="text-align: center">Selección de Transferencia</h3>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <h5>Usuario</h5>
        <br>
        <mat-card class="contenedor">
          <h5 style="text-align: center">{{usuarioActual?.nombre}}</h5>
          <img style="width: 100%; max-width: 250px" src="{{usuarioActual?.urlImg}}" alt="Usuario Foto">
        </mat-card>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h5 style="text-align: center">Libro a Transferir</h5>
            <br>
            <div>
              <mat-card class="contenedor">
                <div class="row">
                  <div class="col-sm-4">
                    <img src="{{libroaTransferir?.imagenUrl}}" alt="Usuario Foto" style="width: 100%">
                  </div>
                  <div class="col-sm-8">
                    <h5>{{libroaTransferir?.nombre}}</h5>
                    <label>Edicion: {{libroaTransferir?.edicion}}</label>
                    <button type="button" class="btn btn-outline-success" style="width: 100%" (click)="irAPerfil(libroaTransferir?.id)">Transferir</button>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <h5>Libros</h5>
    <br>
    <div class="row">
      <div *ngFor="let libro of listaLibros" class="col-sm-3" style="width: 100%">
        <mat-card class="contenedor">
          <div class="row">
            <div class="col-sm-5">
              <h5 style="font-size: small">{{libro.nombre}}</h5>
              <label style="font-size: small">Edicion: {{libro.edicion}}</label>
            </div>
            <div class="col-sm-7">
              <img style="width: 100%" src="{{libro.imagenUrl}}" alt="Usuario Foto">
            </div>
          </div>
          <br>
        </mat-card>
        <br>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-dark btn-lg btn-block">Cargar más</button>
    <br>
    <br>
  </div>
  <div class="col-sm-1"></div>
</div>
