<app-barra-superior [imgUsuario]="usuarioActual?.imagenUrl" [nombreUsuario]="usuarioActual?.usuario"></app-barra-superior>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3 style="text-align: center">Selección de Transferencia</h3>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <h5>Usuario</h5>
        <br>
        <mat-card class="contenedor">
          <h5 style="text-align: center">{{usuarioActual?.usuario}}</h5>
          <img class="borde" style="width: 100%; max-width: 250px" src="{{usuarioActual?.imagenUrl}}" alt="Usuario Foto">
        </mat-card>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h5 style="text-align: center">Libro a Transferir</h5>
            <br>
            <div>
              <mat-card class="contenedor">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="borde" src="{{libroaTransferir?.urlImg}}" alt="Libro Foto" style="width: 100%">
                  </div>
                  <div class="col-sm-8">
                    <h5>{{libroaTransferir?.nombre}}</h5>
                    <label>Páginas: {{libroaTransferir?.numeroPaginas}}</label>
                    <button mat-stroked-button color="primary" style="width: 100%" (click)="irAPerfil(libroaTransferir?.id)">Transferir</button>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <h5>Libros</h5>
    <br>
    <div class="row">
      <div *ngFor="let libro of listaLibros" class="col-sm-3" style="width: 100%">
        <mat-card class="contenedor">
          <div class="row">
            <div class="col-sm-5">
              <h5>{{libro.nombre}}</h5>
              <label>Páginas: {{libro.numeroPaginas}}</label>
            </div>
            <div class="col-sm-7">
              <img class="borde" style="width: 100%" src="{{libro.imagenUrl}}" alt="Libro Foto">
            </div>
          </div>
          <br>
        </mat-card>
        <br>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" style="width: 100%">Cargar más</button>
    <br>
    <br>
  </div>
  <div class="col-sm-1"></div>
</div>
