<br>
<div class="container-fluid">
  <div class="row text-left">
    <div class="col-sm-1 text-left">

    </div>
    <div class="col-lg-5 text-left">
      <h1><b>LIBROS</b></h1>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="libros">
    <app-libro-detail class="col-sm-3" *ngFor="let libro of libros" [libro]="libro" ></app-libro-detail>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-1 text-left">

    </div>
    <div class="col-lg-5 text-left">
      <button class="btn arrow" (click)="obtenerAnteriores()" > <- Anteriores 4 </button>
    </div>
    <div class="col-lg-5 text-right">
      <button class="btn arrow" (click)="obtenerSiguientes()"> Siguientes 4 -></button>
    </div>
    <div class="col-sm-1 text-left">

    </div>
  </div>
</div>
