<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3>Libros</h3>
    <br>
    <div class="row">
      <div *ngFor="let libro of listaAMostrar" class="col-sm-3" style="width: 100%">
        <mat-card>
          <div class="row">
            <div class="col-sm-6">
              <h5>{{libro.nombre}}</h5>
              <label>Páginas: {{libro.numeroPaginas}}</label>
            </div>
            <div class="col-sm-6">
              <img src="{{libro.imagenUrl}}" alt="Libro Foto">
            </div>
          </div>
          <button mat-stroked-button color="primary" (click)="irASeleccionTransferencia(libro.id)">Pedir Transferencia</button>
        </mat-card>
        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <button mat-raised-button color="primary" (click)="prev()" [disabled]="paginaActual ===1">Anterior</button>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-3">
        <button mat-raised-button color="primary" style="width: 100%;" (click)="next()" [disabled]="paginaActual===cantidadPaginas">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>

